<!DOCTYPE html>
<html bgcolor="#AAAAAA">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        {% block stylesheets %}
            <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        {% endblock %}

        <title>{% block title %}Evaluation Platform{% endblock %}</title>
    </head>
    <body bgcolor="#AAAAAA">
    {% block body %}
        {% block content %}
        {% endblock %}
    {% endblock %}
    {% block javascripts %}{% endblock %}
    </body>
</html>
