{% extends 'base.html.twig' %}
{% block body %}
    <div id="video" style="padding: 5%">
    </div>
 {#   <div align="center" class="embed-responsive embed-responsive-16by9">
        <div id="video" class="embed-responsive-item">
        </div>
    </div>#}
{% endblock %}

{% block stylesheets %}
    <style>
        body {background: #AAAAAA;}
    </style>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('https://bitmovin-a.akamaihd.net/bitdash/latest/bitdash.min.js') }}"></script>
    <script src="{{ asset('js/bdplayer.js') }}"></script>
{% endblock %}