{% extends 'base.html.twig' %}
{% block body %}
    <div id="video" class="centered_video">
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        body {background: #AAAAAA;}
        .centered_video  {
            padding: 5%;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('https://bitmovin-a.akamaihd.net/bitdash/latest/bitdash.min.js') }}"></script>
    <script src="{{ asset('js/bdplayer.js') }}"></script>
    <script src="{{ asset('js/videoMetricsStruct.js') }}"></script>
{% endblock %}