{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Hier kommt der Intro Text</h1>
            <h1>Hier kommt der Intro Text</h1>
            <h1>Hier kommt der Intro Text</h1>
            <h1>Hier kommt der Intro Text</h1>
            <h1>Hier kommt der Intro Text</h1>
            <h1>Hier kommt der Intro Text</h1>
            <h1>Hier kommt der Intro Text</h1>
            <h1>Hier kommt der Intro Text</h1>
            <h1>Hier kommt der Intro Text</h1>
            <h1>Hier kommt der Intro Text</h1>
            <h1>Hier kommt der Intro Text</h1>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
